<li>
  <%= link_to conversation.name, topic_conversation_path(conversation.topic, conversation) %> <% if conversation.latest_message %> Latest from <%= conversation.latest_message.username %> at <%= conversation.latest_message.created_at.to_formatted_s(:forum) %> <% end %>
</li>
