<div class="conversation-name">
  <%= @conversation.name %>
</div>

<%= render @conversation.messages %>

<% if logged_in? %>
  <%= render 'messages/new' %>
<% else %>
  LOG IN TO COMMENT BRUH
<% end %>
