<div id="breadcrumbs">
<%= link_to 'All topics', topics_path %>
<% if @conversation && @conversation.id %>
   | <%= link_to @conversation.topic_name, topic_path(@conversation.topic) %>
<% end %>
</div>
